<h2 class="text-center">My Order History</h2>
<div class="d-flex justify-content-around">
    
    <div class="border w-25">
    <div class="d-flex justify-content-around">
        <p class="order">ORDER ID:MC6/1601542146</p>
       <div class="">
        <p class="order">MOB/PE2</p>
        <p class="order">6HE</p>
       </div>
    </div>
    <div class="d-flex justify-content-around">
        <p class="order">Total:$15.50</p>
        <p class="order">2 items</p>
    </div>
    <div class="d-flex justify-content-around mt-3">
        <p class="order">UNPAID</p>
        <p class="order">COLLECTION</p>
        <p></p>
       <div class="completed">
           <div class="com">
            <img src="assets/completed.png" class="ml-4" style="width: 15px; height: 15px;" alt="">
            <p class="order">COMPLETED</p>
           </div>
       </div>
    </div>
    </div>
    <div class="border w-25">
        <div class="d-flex justify-content-around">
            <p class="order">ORDER ID:MC6/1601542146</p>
           <div class="">
            <p class="order">MOB/PE2</p>
            <p class="order">6HE</p>
           </div>
        </div>
        <div class="d-flex justify-content-around">
            <p class="order">Total:$15.50</p>
            <p class="order">2 items</p>
        </div>
        <div class="d-flex justify-content-around mt-3">
            <p class="order">UNPAID</p>
            <p class="order">COLLECTION</p>
            <p></p>
           <div class="completed">
               <div class="com">
                <img src="assets/completed.png" class="ml-4" style="width: 15px; height: 15px;" alt="">
                <p class="order">COMPLETED</p>
               </div>
           </div>
        </div>
        </div>
        
</div>
<div class="mt-5 d-flex justify-content-around">
    <div class="border w-25">
        <div class="d-flex justify-content-around">
            <p class="order">ORDER ID:MC6/1601542146</p>
           <div class="">
            <p class="order">MOB/PE2</p>
            <p class="order">6HE</p>
           </div>
           <div class="">
            <p class="order">01/10/2020</p>
            <p class="order">8:40</p>
           </div>
        </div>
        <div class="d-flex justify-content-around">
            <p class="order">Total:$15.50</p>
            <p class="order">2 items</p>
            <p></p>
        </div>
        <div class="d-flex justify-content-around">
            <p class="order">UNPAID</p>
            <p class="order">COLLECTION</p>
            <p></p>
           <div class="completed">
               <div class="com">
                <img src="assets/completed.png" class="ml-4" style="width: 15px; height: 15px;" alt="">
                <p class="order">COMPLETED</p>
               </div>
           </div>
        </div>
        <div class="d-flex m-3" style="background-color: red;">
            <img src="assets/home1.png" class="m-3 mt-3" style="width: 15px; height: 15px;" alt="">
            <div class="order m-3">
              <p>27,queen charlotte streeet</p>
              <p>Leith,EH6 6AX</p>
            </div>
        </div>
        </div>
        <div class="border w-25">
            <div class="d-flex justify-content-around">
                <p class="order">ORDER ID:MC6/1601542146</p>
               <div class="">
                <p class="order">MOB/PE2</p>
                <p class="order">6HE</p>
               </div>
               <div class="">
                <p class="order">01/10/2020</p>
                <p class="order">8:40</p>
               </div>
            </div>
            <div class="d-flex justify-content-around">
                <p class="order">Total:$15.50</p>
                <p class="order">2 items</p>
                <p></p>
            </div>
            <div class="d-flex justify-content-around">
                <p class="order">UNPAID</p>
                <p class="order">COLLECTION</p>
                <p></p>
               <div class="completed">
                   <div class="com">
                    <img src="assets/completed.png" class="ml-4" style="width: 15px; height: 15px;" alt="">
                    <p class="order">COMPLETED</p>
                   </div>
               </div>
            </div>
            <div class="d-flex m-3" style="background-color: red;">
                <img src="assets/home1.png" class="m-3 mt-3" style="width: 15px; height: 15px;" alt="">
                <div class="order m-3">
                  <p>27,queen charlotte streeet</p>
                  <p>Leith,EH6 6AX</p>
                </div>
            </div>
            </div>
</div>
