
<ng-sidebar-container>
 
  <ng-sidebar [opened]="opened">
    <p>Sidebar Contents</p>
    <button (click) ="toggleSidebar()">
     Closed Sidebar
    </button>
    <ul class="menu">
      <li><a routerLink="/" (click) ="toggleSidebar()">Order Now</a></li>
      <li><a routerLink="/history" (click) ="toggleSidebar()">Order History</a></li>
      <li><a routerLink="/contact" (click) ="toggleSidebar()">Contact</a></li>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <!-- Page Header -->
     <button (click) ="toggleSidebar()">
       open Sidebar
     </button>
<!-- Page Body -->
     <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>